
<% include ../partials/boilerplate %>

<h1 class="h1_for_products-edit"> To Edit Products Do So Below <h1/>
<form class = "add-info"method='POST' action='/products/<%= product.id %>?_method=PUT'>
 <div class= "parts-of-form">
  <input name='name' placeholder ="name" type='text' value='<%=product.name %>'/>
  <input name='category_id'placeholder ="Category"type='text' value='<%=product.category_id %>'/>
 <input name='price' placeholder ="Price" type='text' value='<%=product.price %>' />
 <input name='quantity' placeholder ="Quantity"type='text' value='<%=product.quantity %>'/>
  <input name='size_id' placeholder ="Size"type='text' value='<%=product.size_id%>'/>
  <input name='description' placeholder ="Description"type='text' value='<%=product.description%>'/>
  <input class="edit-page-index"type='Submit' value='Edit' />
  <a class = "from-add-pro-index"href= '/products'> Redirect To Product Index</a>
  </div>
  </div>
</form>

<% include ../partials/end %>